# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [218]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [219]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [220]:
#  1. Get the total rides for each city type
sum_of_rides_by_type = pyber_data_df.groupby(["type"]).count()["ride_id"]
sum_of_rides_by_type

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [221]:
# 2. Get the total drivers for each city type
sum_of_drivers_by_type = pyber_data_df.groupby(["type"]).sum()["driver_count"]
sum_of_drivers_by_type

type
Rural         537
Suburban     8570
Urban       59602
Name: driver_count, dtype: int64

In [222]:
#  3. Get the total amount of fares for each city type
sum_of_fares_by_type = pyber_data_df.groupby(["type"]).sum()["fare"]
sum_of_fares_by_type

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [223]:
#  4. Get the average fare per ride for each city type. 
total_rides = pyber_data_df["ride_id"].count()
average_fare_per_ride = 100 * sum_of_fares_by_type / total_rides
average_fare_per_ride

type
Rural        182.228632
Suburban     815.003368
Urban       1678.079158
Name: fare, dtype: float64

In [224]:
# 5. Get the average fare per driver for each city type. 
total_drivers = pyber_data_df["driver_count"].sum()
average_fare_per_driver = 100 * sum_of_fares_by_type / total_drivers
average_fare_per_driver

type
Rural        6.298927
Suburban    28.171462
Urban       58.004599
Name: fare, dtype: float64

In [225]:
#  6. Create a PyBer summary DataFrame. 
# import pandas library
import pandas as pd
  
pyber_summary_df = pd.DataFrame({"Total rides":sum_of_rides_by_type,
"Total drivers":sum_of_drivers_by_type,
"Total fares":sum_of_fares_by_type,
"Average fare per ride":average_fare_per_ride,
"Average fare per driver":average_fare_per_driver})       
pyber_summary_df

,Total rides,Total drivers,Total fares,Average fare per ride,Average fare per driver
type,,,,,
Rural,125,537,4327.93,182.228632,6.298927
Suburban,625,8570,19356.33,815.003368,28.171462
Urban,1625,59602,39854.38,1678.079158,58.004599

In [226]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None
pyber_summary_df

,Total rides,Total drivers,Total fares,Average fare per ride,Average fare per driver
Rural,125,537,4327.93,182.228632,6.298927
Suburban,625,8570,19356.33,815.003368,28.171462
Urban,1625,59602,39854.38,1678.079158,58.004599

In [227]:
#  8. Format the columns.
#(Pyber_allmetrics)
pyber_summary_df = pd.DataFrame({"Total rides":sum_of_rides_by_type,
"Total drivers":sum_of_drivers_by_type,
"Total fares":sum_of_fares_by_type,
"Average fare per ride":average_fare_per_ride,
"Average fare per driver":average_fare_per_driver})  
pyber_summary_df.index.name = None
pyber_summary_df

,Total rides,Total drivers,Total fares,Average fare per ride,Average fare per driver
Rural,125,537,4327.93,182.228632,6.298927
Suburban,625,8570,19356.33,815.003368,28.171462
Urban,1625,59602,39854.38,1678.079158,58.004599

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [228]:
# 1. Read the merged DataFrame
pyber_data_new_df = pyber_data_df.groupby(["type","date"]).sum().head()
pyber_data_new_df

                            fare        ride_id  driver_count
type  date
Rural 2019-01-01 09:45:36  43.69  2424875833354             1
      2019-01-02 11:18:32  52.12  3454018971635             1
      2019-01-03 19:51:01  19.90  5559509612597             8
      2019-01-04 03:31:26  24.88  4195619112933             8
      2019-01-06 07:38:40  47.33  3849747342021             4

In [229]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.
pyber_data_new_df = pyber_data_df.groupby(["type","date"]).sum()[["fare"]].head()
pyber_data_new_df

                            fare
type  date
Rural 2019-01-01 09:45:36  43.69
      2019-01-02 11:18:32  52.12
      2019-01-03 19:51:01  19.90
      2019-01-04 03:31:26  24.88
      2019-01-06 07:38:40  47.33

In [230]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()
pyber_data_new_df = pyber_data_new_df.reset_index

In [233]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date. 
import pandas as pd
pyber_data_new_df_pivot = pyber_data_new_df_pivot(index = "date", columns = "type", values = "fare")
pyber_data_new_df_pivot

NameError: name 'pyber_data_new_df_pivot' is not defined

In [234]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [ ]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [ ]:
# 7. Check that the datatype for the index is datetime using df.info()

In [ ]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [ ]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')